*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color: lightgray;
  overflow: hidden;
}

.background-header{
  height: 125px;
  background-color:darkcyan;
}

.main-container{
  max-width: 1500px;
  height: 900px;
  margin: auto;
  position: relative;
  top:-100px;
  background-image: url("../img/mine.jpg");
  display: flex;
}

.side-section, .right-section{
  height: 100%;
}

.side-section{
  width: 35%;
  background-color: blue;

  display: flex;
  flex-direction: column;
}

.side-section-header{
  height: 90px;
  background-color: lightgray;
}

.side-section-notifications{
  height: 100px;
  background-color: lightskyblue;
}

.side-section-search{
  height: 50px;
  background-color: white;
  margin:10px;
}

.side-section-chats{
  height: 100%;
  margin-right: 20px;
  background-color: red;
}

.right-section{
  width: 65%;
  background-color: lime;
}