*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*SELECTORS*/
/****************************************/
body{
  background-color: lightgray;
  overflow: hidden;
}

button{
  border:0;
  background:none;
  color:#b1b1b1;
  font-size: 25px;
  margin: 0 10px;
}

a{
  color:gray
}

p{
  margin-bottom: 0;
  color:gray
}

h5{
  margin-bottom: 0;
}

.side-section-notifications strong{
  display: block;
  font-size: 17px;
}
.section-user img{
  height: 70%;
  border-radius: 50%;
  margin-right: 10px;
}


.side-section, .right-section{
  height: 100%;
}

.side-section-header, .right-section-header, .right-section-footer{
  height: 80px;
  background-color: #eaeaea;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat img{
  height: 80%;
  border-radius: 50%;
  margin: 0 20px;
}

.chat-preview p{
  color:#bfc3c5;
}

.background-header{
  height: 125px;
  background-color:darkcyan;
}

.right-section-footer button{
  margin:0 30px;
  font-size: 30px;
  color:gray
}

.right-section-footer input{
  height: 70%;
}
/****************************************/

/*CLASSES*/
/****************************************/
.main-container{
  max-width: 1500px;
  height: 930px;
  margin: auto;
  position: relative;
  top:-100px;
  background-image: url("../img/mine.jpg");
  display: flex;
}

.side-section{
  width: 35%;
  background-color: #fafafa;

  display: flex;
  flex-direction: column;
}

.section-user{
  height: 100%;
  margin-left: 20px;
  cursor: default;
  display: flex;
  align-items: center;
}

.section-buttons{
  height: 100%;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.side-section-notifications{
  height: 110px;
  background-color: #8edafa;
  font-size: 15px;

  display: flex;
  align-items: center;
}

.side-section-search{
  height: 50px;
  background-color: white;
  margin:10px;
}

.side-section-chats{
  margin-right: 20px;
  background-color: white;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  overflow: auto;

  flex-grow: 1;
}

.chat{
  height: calc(100% / 7);
  border-top: 1px solid #f5f5f5;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;

  display: flex;
  align-items: center;
}

.chat:hover{
  background-color: lightgray;
}

.chat-preview-date{
  color:#bfc3c5;
  position: absolute;
  top:5px;
  right: 10px;
}

.fa-bell-slash{
  font-size: 25px;
  color:#8edafa;
  width: 60px;
  height: 60px;
  border-radius:50%;
  background-color: white;
  margin-left: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group{
  height: 100%;
}

.input-group-text{
  background-color: white;
  border-right: none;
  color:gray;
  border-color: rgb(236, 233, 233);
}

.form-control{
  border-left: none;
  border-radius: 5px;
  border-color: rgb(236, 233, 233);
}


.right-section{
  width: 65%;
  position: relative;

  display: flex;
  flex-direction: column;
}

.right-section-main{
  flex-grow: 1;
  padding: 50px 0;
  overflow: auto;
  position: relative;
}

.message{
  min-width: 100px;
  max-width: 300px;
  border-radius: 10px;
  padding:20px;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.message-content{
  color: black;
}

.message-date{
  font-weight: normal;
  font-size: 13px;
  color:lightgray;
  text-align: right;
  position: absolute;
  bottom:3px;
  right:10px;
}

.sent{
  background-color: #d6f9be;
  margin-left: 65%;
}

.received{
  background-color: white;
  margin-left: 40px;
}

.right-section-header{
  border-left: 2px solid lightgray;
}

.right-section-footer{
  width: 100%;
}


/****************************************/